@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  min-height: 100vh;
  background-color: #f3f3f3;
  background-image: url('./assets/geovibe-bg-img.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

em {
  text-shadow: 2px 2px 10px rgba(157, 161, 170, 0.85), 2px 2px 10px rgba(157, 161, 170, 0.85);
}

button:focus,
input:focus {
  outline: 2px solid #4c9aff;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }

  input {
    background-color: #222;
    color: #f3f3f3;
    border: 1px solid #666;
  }

  input::placeholder {
    color: #ccc;
  }

  button {
    background-color: #555;
    color: #f3f3f3;
    border: 1px solid #777;
    cursor: pointer;
  }
}

@media (max-width: 820px) {
  body {
    background-size: 250%;
  }
}